
/* CSS Style Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variable Declaration */

:root {
    --white-accent: white;
    --gray-accent: lightgray;
    --blue-accent: blue;
    --yellow-accent: yellow;
}

/* Element Styling */

body {
    font-size: 16px;
    font-family: Garamond, sans-serif;
}

#screen-container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;

    width: 100vw;
    height: 100vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header Styling */

#header {
    background-color: var(--white-accent);
    display: grid;
    grid-template: 1fr 2fr / 5fr 3fr;

    grid-row: 1;
    grid-column: 2;
}

#header > div {
    border: 1px solid black;
}

#search-section {
/*     grid-row: 1;
    grid-column: 1 / 6; */
}

#logo-section {
/*     grid-row: 1;
    grid-column: 6 / 9; */
}

#greeting-section {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 4fr;
}

#greeting-section > div {
    border: 1px solid black;
}

#greeting-section img {
    width: 75px;
    height: 75px;
    border-radius: 999px;
}

#greeting-section #greeting {
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 1.25;
}

#greeting-section #greeting strong {
    font-size: 1.5rem;
}

#user-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#user-options button {
    background-color: var(--blue-accent);
    color: var(--white-accent);
    padding: 1rem 2rem;
    border: none;
    border-radius: 999px;
}

#user-options button:hover {
    transform: scale(1.05, 1.05);
    transition: 0.25s;
}

/* Sidebar Styling */

#sidebar {
    background-color: var(--blue-accent);
    grid-row: 1 / 3;
    grid-column: 1;
}

/* Main Section Styling */

#main-content {
    background-color: var(--gray-accent);
    grid-row: 2;
    grid-column: 2;
}